.breathing-technique {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px); 
  margin-top: 70px;
  padding: 20px;
  background-color: #7e60bf;
  text-align: center;
}

.technique-heading {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.technique-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.technique-description {
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 0 10px;
}

.animation-box {
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid #7e60bf;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
}

.breathing-box {
  width: 100%;
  height: 100%;
  justify-self: center;
  align-content: center;
  position: relative;
}

.line-pair {
  position: absolute;
  width: 5px; /* Line width */
  height: 100%; /* Height of the entire container */
}

.line-up, .line-down {
  position: absolute;
  width: 200%; /* Extending beyond container for smooth transition */
  height: 2px;
  background-color: #7e60bf;
  color: #7e60bf;
}

.line-up {
  top: 0;
  transform: rotate(45deg); /* Slant the line at 45 degrees */
  animation: moveLineUp 6s linear infinite; /* Move right to left */
}

.line-down {
  bottom: 0;
  transform: rotate(-45deg); /* Slant the line at -45 degrees */
  animation: moveLineDown 6s linear infinite; /* Move right to left */
  animation-delay: 3s; /* Delay to ensure second line starts after first exits */
}

/* Ball in center */
.breathing-ball {
  width: 30px;
  height: 30px;
  background-color: #cab3fc;
  border-radius: 50%;
  position: absolute;
  top: 50%; /* Position ball in the vertical center */
  left: 50%; /* Position ball in the horizontal center */
  transform: translate(-50%, -50%);
}

/* Keyframes for moving the slanted lines left */
@keyframes moveLineUp {
  0% {
    right: -100%; /* Start outside the container on the right */
  }
  100% {
    right: 100%; /* Move off the container to the left */
  }
}

@keyframes moveLineDown {
  0% {
    right: -100%; /* Start outside the container on the right */
  }
  100% {
    right: 100%; /* Move off the container to the left */
  }
}