@import url('https://fonts.googleapis.com/css2?family=Nimbus+Sans:wght@400;700&display=swap');

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.homePage {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  color: #6f4eb6;
  text-align: center;
  height: max-content;
  width: 100vw;
  height: 100vh;
  margin-top: 1.2%;
  font-family: "DM Serif Display", serif;
}

.homePage img {
  width: 100vw;
  aspect-ratio: 1.77;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 6.5rem;
  margin-top: 50px;
  color: #7e60bf;
  /* padding-top: 100px; */
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  position: relative;
  padding: 3vw;
  gap: 50px;
  align-items: center;
}

.cardMain {
  width: 20vw;
  height: 50%;
  object-fit: cover;
  justify-self: center;
  position: relative;
  margin-bottom: 5vw;
  align-content: center;
}

@media only screen and (max-width: 1200px) and (min-width: 500px) {
  .cards {
      grid-template-columns: repeat(2, 1fr);
  }
  .cardMain {
      width: 40vw; 
  }
}

@media only screen and (max-width: 500px) {
  .cards {
      grid-template-columns: repeat(1, 1fr);
  }
  .cardMain {
      width: 80vw; 
  }
}
