.breathing-technique {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px); 
  margin-top: 70px;
  padding: 20px;
  background-image: url('../../../Images/Mindfulness.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.breathing-content {
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 90vw;
  min-width: 250px;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}

.technique-heading {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
  color: #7e60bf;
}

.technique-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.technique-description {
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 0 10px;
}

.animation-box {
  position: relative;
  width: 355px;
  height: 200px;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
}

.breathing-box {
  width: 100%;
  height: 100%;
  justify-self: center;
  align-content: center;
  position: relative;
}

.step {
  text-align: left; /* Aligns the text to the left */
  margin-left: 20px; /* Optional: adds some left margin for better visual alignment */
}


/* Keyframes for moving the slanted lines left */
@keyframes moveLineUp {
  0% {
    right: -100%; /* Start outside the container on the right */
  }
  100% {
    right: 100%; /* Move off the container to the left */
  }
}

@keyframes moveLineDown {
  0% {
    right: -100%; /* Start outside the container on the right */
  }
  100% {
    right: 100%; /* Move off the container to the left */
  }
}