* {
  box-sizing: border-box;
}

.footer {
  background-color: #d4c2ff;
  height: auto;
  width: 100vw;
  color: black;
  font-weight: 400;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer .left {
  width: 40%;
}

.footer .right {
  width: 50%;
}

.footer .left .nav-icon {
  display: flex;
  color: white;
  margin-bottom: 20px;
}

.footer .left .nav-icon .logo {
  height: 60px;
  margin-left: 20px;
}

.footer .left .nav-icon p {
  margin-top: 3%;
  font-weight: 700;
  font-size: 20px;
}

.about-text {
  clear: both;
  margin-top: 20px;
  margin-left: 30px;
  line-height: 1.75rem;
  overflow-wrap: break-word;
}

.foot {
  text-align: center;
  padding: 20px;
  background-color: #d4c2ff;
  border-top: 1.5px solid rgba(0, 0, 0, 0.4);
  font-size: 14px;
  color: #333;
  width: 100%;
}

.resources1 {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.resources1 .first,
.resources1 .second,
.resources1 .third {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.third p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.5rem;
  overflow-wrap: break-word;
}

.third {
  width: 100%;
}

.search {
  width: 100%;
  position: relative;
}

.search input {
  border-radius: 30px;
  border: 1px solid #ccc;
  height: 4.5rem;
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;
  font-size: 1.25rem;
  color: #333;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease;
}

.search input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search input::placeholder {
  color: black;
  font-size: 1.1rem;
}

.search button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  top: 55%;
}

.search .arrow {
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
}

.search button:hover i {
  color: #6a518a;
}

.third input {
  border: 1px solid black;
  height: 3rem;
  background-color: white;
  position: relative;
}

.third button {
  background-color: white;
  height: 30px;
  margin-left: 30px;
}

.third .arrow {
  color: black;
  font-size: 1.2rem;
  position: absolute;
}

.resources1 h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.resources1 li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

.resources1 li a {
  text-decoration: none;
  color: black;
}

.resources1 li a:hover {
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

@media (max-width: 768px) {
  .footer .left,
  .footer .right {
    width: 100%;
    text-align: center;
  }

  .resources1 .first,
  .resources1 .second,
  .resources1 .third {
    flex-basis: 100%;
  }

  .footer-top {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer-top {
    padding: 10px;
  }

  .footer .left .nav-icon p {
    font-size: 16px;
  }

  .resources1 h3 {
    font-size: 18px;
  }

  .third input,
  .search input {
    height: 3rem;
  }
}
