/* Navbar styles */
.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f4ff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .back-arrow {
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
  }
  
  .logo p {
    color: #472e5c;
  }
  
  .navItems ul {
    display: flex;
    justify-content: space-between;
  }
  
  .navItems ul .list {
    display: flex;
    padding-left: 0;
  }
  
  .navItems ul .list a {
    text-decoration: none;
    color: #472e5c;
    padding-left: 50px;
  }
  
  .navItems ul .list a:hover {
    font-weight: 600;
  }
  
  /* Button styles */
  .button button {
    width: 100px;
    height: 40px;
    background-color: #b690d7;
    border-radius: 30px;
    border: 1.5px solid #b690d7;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;
    color: white;
  }
  
  .button button a {
    color: #472e5c;
    text-decoration: none;
  }
  
  .button button:hover {
    background-color: #b690d7;
    font-weight: 700;
  }
  
  /* Hamburger styles for smaller screens */
  .hamburger {
    font-size: 30px;
    display: none;
    cursor: pointer;
  }
  
  /* Hide navigation items on smaller screens */
  .navItems {
    display: flex;
  }
  
  @media (max-width: 1000px) {
    .navItems {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      background-color: #f8f4ff;
      z-index: 999;
    }
  
    .navItems.show {
      display: flex;
    }
  
    .navItems ul {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  
    .navItems ul .list a {
      padding: 20px 0;
      width: 100%;
      text-align: center;
      font-size: 18px;
    }
  
    .hamburger {
      display: block;
    }
  
    .button {
      display: none;
    }
  }  