.videos-page {
    padding: 20px;
    margin-top: 70px; 
    background-image: url('./Resources.jpg'); /* Use the same background image or a different one */
    background-size: cover;
    justify-items: center;
    background-attachment: fixed;
}

.videos-page h1 {
    padding-top: 0;
    text-align: center;
    padding-bottom: 20px;
}

.videos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.video-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 22vw;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.video-card:hover {
    transform: scale(1.05);
}

.video-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.video-card h3 {
    color: #7e60bf;
}